/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.Navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6vh;
}

.logo{
    margin-right: 15px;
    height: 100%;
    padding: 0 13px;
    font-size: 22px;
    display: flex;
    align-items: center;
    background-color: #eceff1;
    font-family: Roboto;
}

.logo a{
    text-decoration: none;
    color: black;
}

.slider-container{
    display: flex;
    align-items: center;
}

.slider{
    width: 400px;
    
    margin-left: 20px;
  }

  .rc-slider-rail{
    height: 5px;
  }
  .rc-slider-track{
    background-color: green;
  }
  .rc-slider-handle,
  .rc-slider-handle:active,
  .rc-slider-handle:focus,
  .rc-slider-handle:hover{
    background-color: black;
    outline: none;
    border: black 2px solid;
    box-shadow: none;
    width: 13px;
    height: 13px;
    margin-left: -7px;
    margin-top: -4px;
  }

  .select-container{
    margin-left: auto;
    margin-right: 1rem;
  } */
